@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,300;1,200&family=Koulen&family=Kulim+Park:wght@200&family=Orbitron&display=swap');


.citycard {
    border-radius: 20px;
    margin: 10px;
}

.citycard-background {
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Epilogue', sans-serif;
    font-size: 0.8em;
    opacity: 0.6;
}

