@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,300;1,200&family=Koulen&family=Kulim+Park:wght@200&family=Orbitron&display=swap');


.home-container {
    min-height: 100vh;
    font-family: 'Epilogue', sans-serif;
}
.cities-container {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
    padding: 3em;
}

.citycard {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    

}

.cities a {
    background-color: #3A5295;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 16px;
    margin-top: 2em;
}


.cities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
}

.comparison {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7em;
    background: #F6FAFD;

}

.comparison-container {
    display: flex;
    justify-content: space-around;
    width: 60em;
    
}

.search, .compare, .bills {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 15em;
}

.center {
    display: flex;
    align-items: center;
}

.banner-bottom {
    display: flex;
    width: 100%;
}
